/* @powercordCompile */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import 'components/profile-badges';
@import 'components/box-shadow';

:root {
  --bgcolor: #282828;
}

/* main app */

.app, .pc-scroller, .pc-activity, .pc-guilds.scroller, .pc-content, .pc-flex, .pc-innerNoAutocomplete, .body-3iLsc4.pc-body, .pc-popouts.pc-noArrow.pc-noShadow.pc-popout.pc-userPopout.pc-body, .pc-footer,
.pc-messagesWrapper, .pc-pickerButtons, .pc-guildIcon, .pc-popouts, .pc-inner, .pc-channelTextArea, .pc-chat, .pc-messagesPopout.scroller,
.pc-textArea.pc-textArea.pc-scrollbarGhostHairline.pc-scroller, .pc-textArea, .pc-scrollbarGhostHairline, .pc-body,
.pc-scrollbarGhostHairline.pc-scrollbar, .quickMessage-2XpSaN.pc-quickMessage, .pc-header.pc-header, .pc-footer.pc-footer, .pc-header.pc-flex.pc-alignCenter, .pc-textArea, .pc-header, .pc-popouts {
  background-color: var(--bgcolor);
}

/* Title bar */
.pc-inner.pc-flex.pc-innerNoAutocomplete {
  background-color: var(--bgcolor);
}
.pc-title {
  background-color: var(--bgcolor);
}

/* Header bar */

.pc-tabBarContainer, .pc-headerBar {
  background-color: var(--bgcolor);
}

/* Member list */

.pc-members {
  background-color: var(--bgcolor);
}

/* Member group */

.pc-membersGroup {
  background-color: var(--bgcolor);
}

/* Content */

.pc-titleWrapper, .pc-scrollerFade, .pc-flex, .pc-firefoxFixScrollFlex, .pc-headerBarDrag, .pc-content,
.pc-scroller.pc-firefoxFixScrollFlex.pc-members, .pc-dividerContent, .pc-dividerContent, .pc-messages.scroller,
.pc-flex.pc-flex.pc-headerBar.pc-title, .pc-flex.pc-flex.pc-headerBar.pc-title, .pc-typing.pc-base,
.pc-iconButton.pc-button.pc-button {
  background-color: var(--bgcolor);
}

.pc-content {
  background-color: var(--bgcolor) !important;
}

.pc-contentSelectedText {
  border-left: 4px solid white;
  border-radius: 0;
}

/* Text */

.pc-markup {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}
