/* @powercordCompile */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');
@import 'components/MainApp';
@import 'components/Content';
@import 'components/Text';
@import 'components/UserPopouts';
@import 'components/Pins';
@import 'components/ProfileBadges';
@import 'components/BoxShadow';
@import 'components/MemberGroup';
@import 'components/MemberList';
@import 'components/UserPopouts';
@import 'components/TitleBar';
@import 'components/HeaderBar';
@import 'components/Invites';
@import 'components/SVGs';
@import 'components/Codeblocks';
@import 'components/Embeds';
@import 'components/FriendsPage';
@import 'components/Search';
@import 'components/Tooltips';
@import 'components/UserSettings';
@import 'components/Startup';
@import 'components/EmojiPicker';
@import 'components/KeybindModal';
@import 'components/AutocompleteModal';
@import 'components/BotTags';
@import 'components/ChatBar';
@import 'components/Switches';

:root {
  --bg-primary: #282828;
  --bg-secondary: #1a1a1a;
}

