.pc-friendsRow .pc-friendsColumn, .pc-moreMutualGuildsBtn, .pc-friendsTableHeader .pc-friendsColumn {
  color: white !important;
}

.pc-headerBar, .pc-friendsTableHeader, .container-3gCOGc {
  background-color: var(--bg-primary) !important;
}

.pc-friendsRow:hover .pc-friendsColumn .pc-statusText .pc-flex, .pc-friendsRow:hover,
.tabBar-1E2ExX .primary-3j8BhM, .pc-tabBar .pc-item:not(.pc-itemSelected):not(.pc-item:hover),
.pc-primary[background-color*='7289da'], .tabBar-1E2ExX .primary-3j8BhM  {
  background-color: var(--bg-secondary) !important;
}

.pc-separator {
  background-color: var(--bg-secondary) !important;
  width: 2px !important;
}

.pc-itemSelected, .pc-itemDefault:hover, .tabBar-1E2ExX .primary-3j8BhM:hover {
  color: var(--bg-secondary) !important;
}

.pc-itemSelected, .pc-itemDefault:hover, .tabBar-1E2ExX .primary-3j8BhM:hover, .pc-item:hover {
  background-color: white !important;
}

.friends-table-header, .friends-table .friends-row+.friends-row, .pc-friendsRow, .pc-friendsTableHeader {
  border: none !important;
}

.pc-moreMutualGuildsBtn {
  border-color: white !important;
}

.pc-friendsColumnSeparator  {
  visibility: hidden !important;
}

.friendActivityIconForeground-3X031q {
  fill: white !important;
}

.tabBar-1E2ExX .primary-3j8BhM {
  background-color: var(--bg-secondary)!important;
}
