.pc-friendsRow .pc-friendsColumn, .pc-moreMutualGuildsBtn, .pc-friendsTableHeader .pc-friendsColumn {
  color: white !important;
}

.pc-headerBar, .pc-friendsTableHeader, .pc-container {
  background-color: var(--bg-primary) !important;
}

.pc-friendsRow:hover {
  background-color: var(--bg-secondary) !important;
}

.pc-separator {
  background-color: var(--bg-secondary) !important;
  width: 2px !important;
}

.pc-tabBar .pc-itemSelected, .pc-itemDefault:hover {
  color: var(--bg-secondary) !important;
}

.pc-itemDefault:hover {
  background-color: white !important;
}

.friends-table-header, .friends-table .friends-row+.friends-row, .pc-friendsRow, .pc-friendsTableHeader {
  border: none !important;
}

.pc-moreMutualGuildsBtn {
  border-color: white !important;
}

.pc-friendsColumnSeparator  {
  visibility: hidden !important;
}
