.app, .pc-appMount, .pc-scroller, .pc-resultsGroup, .pc-option, .pc-search, .pc-spriteItem, .pc-autocompleteInner, .pc-autocompleteRowVertical.pc-autocompleteRow,
.pc-emojiItem, .pc-selected, .pc-category, .pc-emojiPicker, .pc-guilds.scroller, .pc-content, .pc-flex, .pc-innerNoAutocomplete, .body-3iLsc4.pc-body,
.pc-popouts.pc-noArrow.pc-noShadow.pc-popout.pc-userPopout.pc-body, .pc-footer, .pc-messagesWrapper, .pc-pickerButtons,
.pc-guildIcon, .pc-popouts, .pc-channelTextArea, .pc-chat,
.pc-textArea.pc-textArea.pc-scrollbarGhostHairline.pc-scroller, .pc-textArea, .pc-scrollbarGhostHairline, .pc-body,
.pc-scrollbarGhostHairline.pc-scrollbar, .quickMessage-2XpSaN.pc-quickMessage, .pc-header.pc-header, .pc-footer.pc-footer,
.pc-header.pc-flex.pc-alignCenter, .pc-textArea, .pc-header, .pc-popouts, .pc-topSectionSpotify, .pc-topSectionSpotify .pc-headerFill,
.pc-topSectionPlaying, .pc-topSectionPlaying .pc-headerFill, .pc-topSectionStreaming, .pc-topSectionStreaming .pc-headerFill,
.appMount-3lHmkl {
  background-color: var(--bg-primary);
}

.appMount-3lHmkl, [class*='topSection'] div .pc-tabBarContainer .pc-tabBar .pc-item, .pc-headerFill,
.pc-topSectionXbox, .container-2Thooq, .pc-menu .pc-item:hover, .pc-checkboxElement:checked+span {
  background-color: var(--bg-primary) !important;
}

.pc-item, .pc-badge {
  background-color: var(--bg-secondary);
}

.pc-guildSeparator:after, .pc-badge.pc-fixClipping, .pc-members .pc-member .pc-content:hover, .tooltip-black,
.pc-mention .pc-active, .pc-active, .pc-iconSpacing .pc-wrapper, .pc-actionButton, .pc-buttonInvertedPurple,
.pc-contextMenu, .pc-contextMenu .pc-scroller   {
  background-color: var(--bg-secondary) !important;
}

div [class*='topSection'] .pc-tabBarContainer .pc-tabBar .pc-itemSelected,
div [class*='topSection'] .pc-tabBarContainer .pc-tabBar [class*='item']:hover, .name-2WpE7M, .pc-nameWrapper .pc-name,
.pc-listName, .pc-listDiscriminator, .pc-actionButton, .pc-buttonInvertedPurple {
  color: white !important;
}

div [class*='topSection'] .pc-tabBarContainer .pc-tabBar [class*='item']:hover {
  border-bottom-color: white !important;
}

.pc-userPopout .pc-header .pc-flex .pc-headerText .pc-headerNameWrapper .pc-headerName,
.pc-userPopout .pc-header .pc-flex .pc-headerText .pc-headerTagNoNickname .pc-headerTagUsernameNoNickname {
  text-transform: none !important;
}

.pc-activity, .pc-iconCollapsed, .pc-iconDefault, .wrapper-2NJDcI, .nameCollapsed-34uFWo {
  opacity: 1 !important;
  color: white !important;
}

.pc-unread:before, .pc-barInner {
  background-color: white !important;
}

.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb,
.pc-scrollerWrap .scroller::-webkit-scrollbar-thumb,
.pc-scroller::-webkit-scrollbar-thumb {
  background-color: white !important;
  border-radius: 0 !important;
}

.pc-tabBarContainer, .pc-scrollerWrap .scroller::-webkit-scrollbar-thumb, .pc-scrollerWrap .scroller::-webkit-scrollbar-track-piece {
  border: none
}
.tooltip-black.tooltip-right:after {
  border-right-color: var(--bg-secondary) !important;
}

.tooltip-black.tooltip-left:after {
  border-left-color: var(--bg-secondary) !important;
}

.tooltip.tooltip-black.tooltip-top:after {
  border-top-color: var(--bg-secondary) !important;
}

.pc-separator, .tooltip.tooltip-black.tooltip-bottom:after {
  border-bottom-color: var(--bg-secondary) !important;
}

.pc-activityIconForeground, .pc-activityIcon, .pc-actionIcon, .pc-channelIcon, .pc-iconDefault, .pc-icon, .pc-foreground,
.pc-background, .pc-button, .pc-ownerIcon g path {
  opacity: 1;
  color: white;
  fill: white !important;
}

.pc-listName, .pc-listDiscriminator, .pc-tip {
  opacity: 1 !important;
}

.pc-connectedAccountVerifiedIcon g path[fill*='4f545c'], .pc-verified g path[fill*='4f545c'],
.pc-checkboxElement:checked+span {
  fill: var(--bg-secondary) !important;
}

.pc-scrollerWrap .scroller::-webkit-scrollbar-track-piece {
  visibility: hidden !important;
}

.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb,
.pc-scrollerWrap .scroller::-webkit-scrollbar-thumb,
.pc-scroller::-webkit-scrollbar-thumb {
  background-color: white !important;
  border-radius: 0 !important;
}

.pc-tabBarContainer,  [class*='scroller']::-webkit-scrollbar-thumb,
[class*='scroller']::-webkit-scrollbar-track-piece {
  border: none
}

.pc-scrollerWrap .scroller::-webkit-scrollbar {
  width: 5px;
}

.pc-wrapper {
  background: var(--bg-primary) !important;
}

.pc-jumpToPresentBar, .pc-jumpToPresentBar button:last-child {
  color: white !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.pc-linkButtonIcon, header {
  opacity: 1 !important;
}

.pc-verifiedIcon g path[fill="#36393f"] {
  fill: var(--bg-secondary) !important;
}

.divider-3573oO, .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  visibility: hidden !important;
}

.scroller-wrap.dark .scroller::-webkit-scrollbar, .pc-scrollerWrap .scroller::-webkit-scrollbar,
.pc-scroller::-webkit-scrollbar {
  width: 5px !important;
}

.pc-edited {
  font-size: 0;
  width: 13px !important;
  height: 13px !important;
  display: inline-block;
  background-image: url('https://svgur.com/i/3YH.svg');
  background-size: 100%;
  opacity: .3;
  line-height: 23px;
  transition: opacity 0.2s;
  margin-left: 2.5px;
}

.pc-edited:hover {
  opacity: 1;
}

.pc-menu .pc-separator, .pc-itemGroup {
  border: none !important;
}

.pc-moreUsers {
  background-color: var(--bg-secondary);
  color: white;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe span {
  border-color: var(--bg-primary) !important;
}

.pc-contextMenu .pc-item:hover {
  background-color: var(--bg-secondary) !important;
  cursor: pointer !important;
}

.pc-role .pc-flex {
  background-color: transparent !important;
  margin-bottom: 2px !important;
}
