.powercord-badge img {
  filter: brightness(100) !important;
}

[class*="profileBadgeHypesquad-"] {
  background-image: url("https://canary.discordapp.com/assets/3a050fcc884255231b99b7033c776070.svg") !important;
}
[class*="profileBadgePremium"] {
  background-image: url("https://canary.discordapp.com/assets/379d2b3171722ef8be494231234da5d1.svg") !important;
}
[class*="profileBadgeEarlySupporter"] {
  background-image: url("https://canary.discordapp.com/assets/ce15562552e3d70c56d5408cfeed2ffd.svg") !important;
}
[class*="profileBadgePartner"] {
  background-image: url("https://canary.discordapp.com/assets/a0e288a458c48dfcf548dadc277e42e6.svg") !important;
}
[class*="profileBadgeStaff"] {
  background-image: url("https://canary.discordapp.com/assets/7cfd90c8062139e4804a1fa59f564731.svg") !important;
}
[class*="profileBadgeBugHunter"] {
  background-image: url("https://canary.discordapp.com/assets/df26f079738a4dcd07cbce6eb3c957f1.svg") !important;
}

[class*="profileBadgeHypeSquadOnlineHouse1"] {
  background-image: url("https://canary.discordapp.com/assets/1115767aed344e96a27a12e97718c171.svg") !important;
}

[class*="profileBadgeHypeSquadOnlineHouse2"] {
  background-image: url("https://canary.discordapp.com/assets/d3478c6bd5cee0fc600e55935ddc81aa.svg") !important;
}

[class*="profileBadgeHypeSquadOnlineHouse3"] {
  background-image: url("https://canary.discordapp.com/assets/2a085ed9c86f3613935a6a8667ba8b89.svg") !important;
}
