.pc-tipsWithResults {
  color: white !important;
  border-color: var(--bg-primary) !important;
}

.pc-quickswitcher {
  color: white !important;
  background-color: var(--bg-primary) !important;
}

.pc-input {
  background-color: var(--bg-secondary) !important;
}

.pc-resultFocused > .pc-content {
  background-color: var(--bg-secondary) !important;
}
