.search-results-wrap .search-result .search-result-message.hit, .search-results-wrap .channel-separator .channel-name,
.search-results-wrap .search-header, .pc-searchFilter, .pc-searchAnswer, .pc-resultsGroup .pc-searchOption.pc-selected
.pc-option.pc-searchOption.pc-selected::after {
  background-color: var(--bg-primary) !important;
}

.pc-resultsGroup .pc-option, .pc-option.pc-searchOption::after, .pc-resultsGroup, .pc-resultsGroup .pc-header,
.pc-resultsGroup .pc-searchOption {
  background-color: var(--bg-secondary) !important;
}

.pc-nonText, .pc-plusIcon, .pc-searchLearnMore .pc-anchorUnderlineOnHover [name*='LearnMore'] g {
  color: white !important;
}

.pc-option, .pc-option:after, .pc-searchOption {
  background-image: none !important;
}

.search-results-wrap .search-header .tab, .search-results-wrap .search-header .total-results {
  opacity: 1 !important;
}

.search-results-wrap .search-result .search-result-message.hit, .search-results-wrap .channel-separator:before {
  border: none !important;
}

.search-results-wrap .search-result:before, .search-results-wrap .search-result:after {
  background-image: none !important;
}

.search-bar-icon .icon.visible {
  opacity: 1 !important;
}

.pc-filter {
  color: white !important;
  font-weight: 500 !important;
}

.pc-answer {
  color: white !important;
  font-weight: normal !important;
}
